*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
.page-1{
    height: 100vh;
    width: 100vw;
    background-color: #C0B9AF;
    position: relative;

}
#nav{
    height: 80px;
    width: 100%;
    padding: 0 30px;
    position: fixed;

    background-color: #C0B9AF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #9A948D;


}
#nav img{
    height: 20px;
    width: 30%;


}
#nav h5{
    font-size: 20px;
    width: 30%;
    font-weight: 100;
}
#nav i {
    font-size: 18px;
    width: 30%;
    text-align: right;

    
}



#elems{
    background-color: rgb(237, 49, 49);
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;

}
.elem-1{
    height: 100%;
    width: 30%;
        

}
.elem-2{
    border-right: 2px solid #acacac;
    padding: 20px 60px;
    text-align: center;
    border-left: 2px solid #a5a5a5;

    
}
.elem-3{
    height: 100%;
    width: 30%;
    
}
.elem-1 .img-div{
    height: 60%;
    width: 100%;
    overflow: hidden;

}

.elem-3 .img-div{
    height: 60%;
    width: 100%;
    overflow: hidden;

}